apiVersion: v1
kind: Service
metadata:
  name: hiangular
  labels:
    app: test

spec:
  selector:
    app: test
    tier: web
  ports:
    - port: 80
  type: LoadBalancer
#
#---
#
#apiVersion: apps/v1
#kind: Deployment
#metadata:
#  name: hiangular
#  labels:
#    app: test
#spec:
#  replicas: 1
#  template:
#    metadata:
#      labels:
#        app: test
#        tier: web
#    spec:
#      containers:
#        - name: hello-angular
#          image: DOCKER_IMAGE_NAME
#          ports:
#            -containerPort: 80
